TS_SERVER_HOST=ts.tendrolapio.cl
TS_SERVER_PORT=9988
TS_SERVER_PASSWORD=
TS_CHANNEL=TendroAudio
TS_BOT_NICKNAME=tendroaudio
TS_WEBQUERY_HOST=ts.tendrolapio.cl
TS_WEBQUERY_PORT=10081
TS_WEBQUERY_APIKEY=
AUDIO_VOLUME=85

# SSH ServerQuery (para recibir mensajes de chat)
TS_QUERY_PORT=10012
TS_QUERY_USERNAME=musicbot
TS_QUERY_PASSWORD=
